footer{
    background-color: #191919;
    display: flex;
    align-items: center;
    color: var(--white);
    justify-content: center;
    padding: 1em;
}

footer a{
    color: var(--white);
}

.socials{
    display: flex;
    justify-content: space-around;
    background-color: #191919;
    border-top: 2px solid var(--black);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.socials > a{
    opacity: 0.8;
    transition: 0.3s;
}
.socials > a:hover{
    opacity: 1;
    transition: 0.3s;
}

hr{
    border-color: black;
    border-width: 1px;
}